$ok-color: #6abf69
$info-color: #64b5f6
$warning-color: #fff263
$error-color: #f05545
$border-color: #bec5b7
$header-background-color: #bec5b7
$white-color: #FFF
$ok-button-color: #003300
$info-button-color: #003c8f
$warning-button-color: #c49000
$error-button-color: #870000
$cancel-button-color: #bec5b7
$close-icon-color: #000a12
$ok-font-color: #003300
$info-font-color: #003c8f
$warning-font-color: #c49000
$error-font-color: #870000


.app-notification 
    border-radius: 5px
    text-align: left
    &.show
        display: block
    &.ntf-border
        border: 1px $border-color solid
    &.ok
        background: $ok-color
        color: $ok-font-color
        .ntf-footer
            span
                &.ok
                    background: $ok-button-color
    &.info
        background: $info-color
        color: $info-font-color
        .ntf-footer
            span
                &.ok
                    background: $info-button-color
    &.warning
        background: $warning-color
        color: $warning-font-color
        .ntf-footer
            span
                &.ok
                    background: $warning-button-color
    &.error
        background: $error-color
        color: $error-font-color
        .ntf-footer
            span
                &.ok
                    background: $error-button-color
    .ntf-header
        padding: 5px 15px
        color: $white-color
        background: $header-background-color
        position: relative
    .ntf-container
        padding: 15px        
        position: relative
    .ntf-footer
        margin-top: 15px
        text-align: center
        span
            color: $white-color
            padding: 5px 15px
            border-radius: 5px
            cursor: pointer
            margin: 0 10px 
            &.cancel
                background: $cancel-button-color
            &:hover
                opacity: 0.8
    .ntf-wrapper
        width: 95%
        display: inline-block    
    .close
        position: absolute
        right: 15px
        width: 18px
        height: 18px
        opacity: 0.3
        cursor: pointer  
        top: 50%
        transform: translateY(-50%)
        &:hover
            opacity: 1        
        &:before, &:after 
            position: absolute
            left: 15px
            content: ' '
            height: 18px
            width: 2px
            background-color: $close-icon-color        
        &:before 
            transform: rotate(45deg)        
        &:after 
            transform: rotate(-45deg)